extends layout

block content
  .page
    .row.overview
      #earth.overview
        ul
          li#carousel
            ul
              li
                .data
                  h2(style='padding:0;margin:0;') Today it is
                    span.atmo &nbsp;
                    | on Mars.
                  img(src="/images/sun.svg", type="image/svg+xml", style="height: 40%;")
                  h3(style='padding:0;margin:0;') Min:
                    span.mintemp 
                    | / Max: 
                    span.maxtemp 
    .row.buttons
      .wind
        .data
          h2 Wind
          img(src="/images/wind.svg", type="image/svg+xml", style="height: 40%;")
          h3 &nbsp;
      .pressure
        .data
          h2 Pressure
          img(src="/images/pressure.svg", type="image/svg+xml", style="height: 40%;")
          h3 &nbsp;
    .row.buttons
      .sunrise
        .data
          h2 Sunrise
          img(src="/images/sunrise.svg", type="image/svg+xml", style="height: 40%;")
          h3 &nbsp;
      .sunset
        .data
          h2 Sunset
          img(src="/images/sunset.svg", type="image/svg+xml", style="height: 40%;")
          h3 &nbsp;
    .row
      .footer Designed &amp; Developed by Team M