extends layout

block content
  .page
    .row.overview
      .overview
        #carousel
          ul
            li.pane1
              h2 Swipe...
    .row.buttons
      .wind wind
      .pressure pressure
    .row.buttons
      .sunrise sunrise
      .sunset sunset
    .row
      .footer 
        a(href='#') add pane