extends layout

block content
  .page
    .row.overview
      .overview overview
    .row.buttons
      .wind wind
      .pressure pressure
    .row.buttons
      .sunrise sunrise
      .sunset sunset
    .row
      .footer footer