extends layout

block content
  .page
    .row.overview
      .overview
        ul
          li#carousel
            ul
              li
                h2 Sunny
    .row.buttons
      .wind wind
      .pressure pressure
    .row.buttons
      .sunrise sunrise
      .sunset sunset
    .row
      .footer 
        a(href='#') add pane