extends layout

block content
  .page
    .row.overview
      .overview
        #carousel
          ul
            li.pane1
              h2 Swipe...
            li.pane2
              h2 Swipe...
            li.pane3
              h2 Swipe...
            li.pane4
              h2 Swipe...
            li.pane5
              h2 Swipe...
    .row.buttons
      .wind wind
      .pressure pressure
    .row.buttons
      .sunrise sunrise
      .sunset sunset
    .row
      .footer footer