extends layout2

block content
  .page
    #days
      ul
        li.mars
          .center
            h2 {data}
            img(src='/images/sun.svg', type='image/svg+xml')
            h3 {data}
            .next
              .center
                img(src='/images/arrow-right.svg', type='image/svg+xml')
        li.mars
          .center
            .prev
              .center
                img(src='/images/arrow-left.svg', type='image/svg+xml')
            h2 {data}
            img(src='/images/sun.svg', type='image/svg+xml')
            h3 {data}
            .next
              .center
                img(src='/images/arrow-right.svg', type='image/svg+xml')
        li.mars
          .center
            .prev
              .center
                img(src='/images/arrow-left.svg', type='image/svg+xml')
            h2 {data}
            img(src='/images/sun.svg', type='image/svg+xml')
            h3 {data}
            .next
              .center
                img(src='/images/arrow-right.svg', type='image/svg+xml')
        li.mars
          .center
            .prev
              .center
                img(src='/images/arrow-left.svg', type='image/svg+xml')
            h2 {data}
            img(src='/images/sun.svg', type='image/svg+xml')
            h3 {data}
            .next
              .center
                img(src='/images/arrow-right.svg', type='image/svg+xml')
        li.mars
          .center
            .prev
              .center
                img(src='/images/arrow-left.svg', type='image/svg+xml')
            h2 {data}
            img(src='/images/sun.svg', type='image/svg+xml')
            h3 {data}
    .buttons
      #wind
        .center
          h2 Wind
          img(src='/images/wind.svg', type='image/svg+xml')
          h3 {data}
      #pressure
        .center
          h2 Pressure
          img(src='/images/pressure.svg', type='image/svg+xml')
          h3 {data}
    .buttons
      #sunrise
        .center
          h2 Sunrise
          img(src='/images/sunrise.svg', type='image/svg+xml')
          h3 {data}
      #sunset
        .center
          h2 Sunset
          img(src='/images/sunset.svg', type='image/svg+xml')
          h3 {data}
    #footer Designed &amp; Developed by Team M