extends layout

block content
  .page
    .row.overview
      #earth.overview
        ul
          // li(style='background:blue;margin:0;padding:0;') (Add Earth geo data for comparision)
          li#carousel
            ul(style='margin-top:-1.3em')
              li.latest.default
                .data
                  h2.atmo &nbsp;
                  img(src="/images/sun.svg", type="image/svg+xml", style="height: 40%;")
                  h3.temp Min:
                    span.mintemp 
                    | / Max: 
                    span.maxtemp 
    .row.buttons
      .wind
        .data
          h2 Wind
          img(src="/images/wind.svg", type="image/svg+xml", style="height: 40%;")
          h3 &nbsp;
      .pressure
        .data
          h2 Pressure
          img(src="/images/pressure.svg", type="image/svg+xml", style="height: 40%;")
          h3 &nbsp;
    .row.buttons
      .sunrise
        .data
          h2 Sunrise
          img(src="/images/sunrise.svg", type="image/svg+xml", style="height: 40%;")
          h3 &nbsp;
      .sunset
        .data
          h2 Sunset
          img(src="/images/sunset.svg", type="image/svg+xml", style="height: 40%;")
          h3 &nbsp;
    .row
      .footer Designed &amp; Developed by Team M