doctype 5
html(manifest='/cache.manifest')
  head
    title M
    meta(name="viewport", content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1')
    link(href='http://fonts.googleapis.com/css?family=Amaranth', rel='stylesheet', type='text/css')
    link(rel='stylesheet/less', type='text/css', href='/stylesheets/app2.less')
    link(rel='stylesheet', type='text/css', href='/stylesheets/swipeslide.css')
  body
    block content
    script(src='/javascripts/less.js')
    script(src='/javascripts/modernizr.js')
    script(src='/javascripts/ismobile.js')
    script(src='/javascripts/zepto.min.js')
    script(src='/javascripts/fx.zepto.js')
    script(src='/javascripts/swipeslide.js')
    script(src='/javascripts/app2.js')
